rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{document} {
      allow read, write: if true;
    }
    
    match /matches/{document} {
      allow read, write: if true;
    }
  }
}